# Laboratorio 1

In [1]:
import pandas as pd

In [2]:
agua = pd.read_csv('data_labs/consumo-agua.csv')

In [3]:
agua.head()

,Geo Point,Geo Shape,consumo_total_mixto,anio,nomgeo,consumo_prom_dom,consumo_total_dom,alcaldia,colonia,consumo_prom_mixto,consumo_total,consumo_prom,consumo_prom_no_dom,bimestre,consumo_total_no_dom,gid,indice_des
0,"19.4552601937,-99.1126617526","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",159.72,2019,Gustavo A. Madero,42.566364,468.23,GUSTAVO A. MADERO,7 DE NOVIEMBRE,53.24,631.00,42.066667,3.05,3,3.05,57250,ALTO
1,"19.4552601937,-99.1126617526","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",0.00,2019,Gustavo A. Madero,35.936667,107.81,GUSTAVO A. MADERO,7 DE NOVIEMBRE,0.00,115.13,28.782500,7.32,3,7.32,57253,MEDIO
2,"19.4557195871,-99.1135822797","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",0.00,2019,Gustavo A. Madero,24.586000,122.93,GUSTAVO A. MADERO,7 DE NOVIEMBRE,0.00,197.96,32.993333,75.03,3,75.03,57255,POPULAR
3,"19.4596467168,-99.1044693641","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",0.00,2019,Gustavo A. Madero,0.000000,0.00,GUSTAVO A. MADERO,NUEVA TENOCHTITLAN,0.00,253.53,84.510000,84.51,3,253.53,57267,BAJO
4,"19.4741606185,-99.1467497317","{""type"": ""MultiPolygon"", ""coordinates"": [[[[-9...",56.72,2019,Azcapotzalco,67.436250,539.49,AZCAPOTZALCO,PROHOGAR,56.72,839.35,76.304545,121.57,3,243.14,57330,BAJO

Queremos generar el data profiling de estos datos.

* ¿Cuántas variables tenemos?
* ¿Cuántas observaciones tenemos?
* ¿Cuántas observaciones únicas tenemos por variable?
* ¿Cuántas variables numéricas tenemos?
* ¿Cuántas variables de fecha tenemos?
* ¿Cuántas variables categóricas tenemos?
* ¿Cuántas variables de texto tenemos?
* Generea el profiling de cada variable
* ¿Qué conocemos ahora de este set de datos por variable?
* ¿Cuántas alcadías tienes? ¿Cuántos nomgeo tienes? ¿Identificas algún error?

* Transformar las variables a formato estándar: minúsculas, sin espacios en blanco, sin signos de puntuación.
* Agregar la variable latitud y longitud.
* Pasar la variable latitud y longitud a numérica -si no la tomó como numérica-.
* Eliminar la columna geo_point -una vez que creaste la variable latitud y longitud.
* Eliminar la columna geo_shape.
* Cambiar a minúsculas las columnas alcaldía, colonia e indice_des.
* Volver a correr el proceso de identificación de variables numéricas, categóricas, texto y fechas.
* Genera el data profiling por variable (puedes ocupar el paquete pandas-profiling de pandas)

### ¿Cuántas variables tenemos?

In [4]:
len(agua.columns)

17

### ¿Cuántas observaciones tenemos?

In [5]:
len(agua)

71102

### ¿Cuántas observaciones únicas tenemos por variable?

In [24]:
#df_dict = dict(zip([i for i in agua.columns] , [pd.DataFrame(agua[i].unique(), columns=[i]) for i in agua.columns]))

In [25]:
#df_dict['anio']

In [26]:
#agua.apply(pd.Series.nunique)

In [23]:
agua.nunique()

Geo Point               22930
Geo Shape               22922
consumo_total_mixto     24339
anio                        1
nomgeo                     16
consumo_prom_dom        52060
consumo_total_dom       47051
alcaldia                   16
colonia                  1340
consumo_prom_mixto      31911
consumo_total           56015
consumo_prom            62214
consumo_prom_no_dom     37440
bimestre                    3
consumo_total_no_dom    27336
gid                     71102
indice_des                  4
dtype: int64

### ¿Cuántas variables numéricas tenemos?

In [9]:
vars_type = agua.dtypes
vars_type

Geo Point                object
Geo Shape                object
consumo_total_mixto     float64
anio                      int64
nomgeo                   object
consumo_prom_dom        float64
consumo_total_dom       float64
alcaldia                 object
colonia                  object
consumo_prom_mixto      float64
consumo_total           float64
consumo_prom            float64
consumo_prom_no_dom     float64
bimestre                  int64
consumo_total_no_dom    float64
gid                       int64
indice_des               object
dtype: object

Geo Point                object --> split y dos float  
Geo Shape                object   
consumo_total_mixto     float64  
anio                      int64  
nomgeo                   object --> string  
consumo_prom_dom        float64  
consumo_total_dom       float64  
alcaldia                 object --> string  
colonia                  object --> string  
consumo_prom_mixto      float64  
consumo_total           float64  
consumo_prom            float64  
consumo_prom_no_dom     float64  
bimestre                  int64 --> Categorica  
consumo_total_no_dom    float64  
gid                       int64  
indice_des               object  --> string  
dtype: object

In [30]:
vars_type = pd.DataFrame(vars_type, columns = ['tipo'])
vars_type

                         tipo
Geo Point              object
Geo Shape              object
consumo_total_mixto   float64
anio                    int64
nomgeo                 object
consumo_prom_dom      float64
consumo_total_dom     float64
alcaldia               object
colonia                object
consumo_prom_mixto    float64
consumo_total         float64
consumo_prom          float64
consumo_prom_no_dom   float64
bimestre                int64
consumo_total_no_dom  float64
gid                     int64
indice_des             object

In [31]:
vars_type.dtypes

tipo    object
dtype: object

In [32]:
vars_type['tipo'].str.count('int64')

Geo Point              NaN
Geo Shape              NaN
consumo_total_mixto    NaN
anio                   NaN
nomgeo                 NaN
consumo_prom_dom       NaN
consumo_total_dom      NaN
alcaldia               NaN
colonia                NaN
consumo_prom_mixto     NaN
consumo_total          NaN
consumo_prom           NaN
consumo_prom_no_dom    NaN
bimestre               NaN
consumo_total_no_dom   NaN
gid                    NaN
indice_des             NaN
Name: tipo, dtype: float64

In [12]:
agua.dtypes

Geo Point                object
Geo Shape                object
consumo_total_mixto     float64
anio                      int64
nomgeo                   object
consumo_prom_dom        float64
consumo_total_dom       float64
alcaldia                 object
colonia                  object
consumo_prom_mixto      float64
consumo_total           float64
consumo_prom            float64
consumo_prom_no_dom     float64
bimestre                  int64
consumo_total_no_dom    float64
gid                       int64
indice_des               object
dtype: object

In [13]:
#agua['nomgeo']= agua.nomgeo.astype(str)

In [14]:
vars_type['tipo'].count()

17

In [15]:
###

### ¿Cuántas alcadías tienes? ¿Cuántos nomgeo tienes? ¿Identificas algún error?

In [16]:
alcaldias = pd.unique(agua['alcaldia']) 
alcaldias_n = agua['alcaldia'].nunique()

In [17]:
print(alcaldias)
print(alcaldias_n)

['GUSTAVO A. MADERO' 'AZCAPOTZALCO' 'COYOACAN' 'TLALPAN' 'MILPA ALTA'
 'ALVARO OBREGON' 'CUAJIMALPA' 'TLAHUAC' 'MAGDALENA CONTRERAS'
 'XOCHIMILCO' 'IZTAPALAPA' 'IZTACALCO' 'BENITO JUAREZ' 'MIGUEL HIDALGO'
 'CUAUHTEMOC' 'VENUSTIANO CARRANZA']
16

In [18]:
nomgeos = pd.unique(agua['nomgeo']) 
nomgeos_n = agua['nomgeo'].nunique()

In [19]:
print(nomgeos)
print(nomgeos_n)

['Gustavo A. Madero' 'Azcapotzalco' 'Coyoacán' 'Talpan' 'Milpa Alta'
 'Álvaro Obregón' 'Cuajimalpa de Morelos' 'Tláhuac'
 'La Magdalena Contreras' 'Xochimilco' 'Iztapalapa' 'Iztacalco'
 'Benito Juárez' 'Miguel Hidalgo' 'Cuauhtémoc' 'Venustiano Carranza'
 'Tlalpan']
17

In [20]:
agua.loc[agua["nomgeo"].str.contains('Talpan', case = False, na = None), "nomgeo"] = 'Tlalpan'

In [21]:
nomgeos = pd.unique(agua['nomgeo']) 
nomgeos_n = agua['nomgeo'].nunique() 
print(nomgeos)
print(nomgeos_n)

['Gustavo A. Madero' 'Azcapotzalco' 'Coyoacán' 'Tlalpan' 'Milpa Alta'
 'Álvaro Obregón' 'Cuajimalpa de Morelos' 'Tláhuac'
 'La Magdalena Contreras' 'Xochimilco' 'Iztapalapa' 'Iztacalco'
 'Benito Juárez' 'Miguel Hidalgo' 'Cuauhtémoc' 'Venustiano Carranza']
16

### Transformar las variables a formato estándar: minúsculas, sin espacios en blanco, sin signos de puntuación.

In [22]:
agua = agua.str.lower()
agua

AttributeError: 'DataFrame' object has no attribute 'str'