# Laboratorio 1

In [4]:
import pandas as pd

In [7]:
agua = pd.read_csv('../data/consumo-agua.csv')

In [ ]:
agua.head()

### ¿Cuántas variables tenemos?

In [ ]:
len(agua.columns)

### ¿Cuántas observaciones tenemos?

In [5]:
len(agua)

71102

### ¿Cuántas observaciones únicas tenemos por variable?

In [24]:
#df_dict = dict(zip([i for i in agua.columns] , [pd.DataFrame(agua[i].unique(), columns=[i]) for i in agua.columns]))

In [25]:
#df_dict['anio']

In [26]:
#agua.apply(pd.Series.nunique)

In [23]:
agua.nunique()

Geo Point               22930
Geo Shape               22922
consumo_total_mixto     24339
anio                        1
nomgeo                     16
consumo_prom_dom        52060
consumo_total_dom       47051
alcaldia                   16
colonia                  1340
consumo_prom_mixto      31911
consumo_total           56015
consumo_prom            62214
consumo_prom_no_dom     37440
bimestre                    3
consumo_total_no_dom    27336
gid                     71102
indice_des                  4
dtype: int64

### ¿Cuántas variables numéricas tenemos?

In [9]:
vars_type = agua.dtypes
vars_type

Geo Point                object
Geo Shape                object
consumo_total_mixto     float64
anio                      int64
nomgeo                   object
consumo_prom_dom        float64
consumo_total_dom       float64
alcaldia                 object
colonia                  object
consumo_prom_mixto      float64
consumo_total           float64
consumo_prom            float64
consumo_prom_no_dom     float64
bimestre                  int64
consumo_total_no_dom    float64
gid                       int64
indice_des               object
dtype: object

Geo Point                object --> split y dos float  
Geo Shape                object   
consumo_total_mixto     float64  
anio                      int64  
nomgeo                   object --> string  
consumo_prom_dom        float64  
consumo_total_dom       float64  
alcaldia                 object --> string  
colonia                  object --> string  
consumo_prom_mixto      float64  
consumo_total           float64  
consumo_prom            float64  
consumo_prom_no_dom     float64  
bimestre                  int64 --> Categorica  
consumo_total_no_dom    float64  
gid                       int64  
indice_des               object  --> string  
dtype: object

In [30]:
vars_type = pd.DataFrame(vars_type, columns = ['tipo'])
vars_type

                         tipo
Geo Point              object
Geo Shape              object
consumo_total_mixto   float64
anio                    int64
nomgeo                 object
consumo_prom_dom      float64
consumo_total_dom     float64
alcaldia               object
colonia                object
consumo_prom_mixto    float64
consumo_total         float64
consumo_prom          float64
consumo_prom_no_dom   float64
bimestre                int64
consumo_total_no_dom  float64
gid                     int64
indice_des             object

In [3]:
#vars_type.dtypes

In [1]:
#vars_type['tipo'].str.count('int64')

In [2]:
#agua.dtypes

In [13]:
#agua['nomgeo']= agua.nomgeo.astype(str)

In [14]:
vars_type['tipo'].count()

17

In [15]:
###

### ¿Cuántas variables de fecha tenemos?

### ¿Cuántas variables categóricas tenemos?

### ¿Cuántas variables de texto tenemos?

### Genera el profiling de cada variable (propio)

### Genera el profiling de cada variable (Pandas profiling)

### ¿Cuántas alcadías tienes? ¿Cuántos nomgeo tienes? ¿Identificas algún error?

In [16]:
alcaldias = pd.unique(agua['alcaldia']) 
alcaldias_n = agua['alcaldia'].nunique()

In [17]:
print(alcaldias)
print(alcaldias_n)

['GUSTAVO A. MADERO' 'AZCAPOTZALCO' 'COYOACAN' 'TLALPAN' 'MILPA ALTA'
 'ALVARO OBREGON' 'CUAJIMALPA' 'TLAHUAC' 'MAGDALENA CONTRERAS'
 'XOCHIMILCO' 'IZTAPALAPA' 'IZTACALCO' 'BENITO JUAREZ' 'MIGUEL HIDALGO'
 'CUAUHTEMOC' 'VENUSTIANO CARRANZA']
16

In [18]:
nomgeos = pd.unique(agua['nomgeo']) 
nomgeos_n = agua['nomgeo'].nunique()

In [19]:
print(nomgeos)
print(nomgeos_n)

['Gustavo A. Madero' 'Azcapotzalco' 'Coyoacán' 'Talpan' 'Milpa Alta'
 'Álvaro Obregón' 'Cuajimalpa de Morelos' 'Tláhuac'
 'La Magdalena Contreras' 'Xochimilco' 'Iztapalapa' 'Iztacalco'
 'Benito Juárez' 'Miguel Hidalgo' 'Cuauhtémoc' 'Venustiano Carranza'
 'Tlalpan']
17

In [20]:
agua.loc[agua["nomgeo"].str.contains('Talpan', case = False, na = None), "nomgeo"] = 'Tlalpan'

In [21]:
nomgeos = pd.unique(agua['nomgeo']) 
nomgeos_n = agua['nomgeo'].nunique() 
print(nomgeos)
print(nomgeos_n)

['Gustavo A. Madero' 'Azcapotzalco' 'Coyoacán' 'Tlalpan' 'Milpa Alta'
 'Álvaro Obregón' 'Cuajimalpa de Morelos' 'Tláhuac'
 'La Magdalena Contreras' 'Xochimilco' 'Iztapalapa' 'Iztacalco'
 'Benito Juárez' 'Miguel Hidalgo' 'Cuauhtémoc' 'Venustiano Carranza']
16

### ¿Qué conocemos ahora de este set de datos por variable?

### Transformar las variables a formato estándar: minúsculas, sin espacios en blanco, sin signos de puntuación.

In [22]:
agua = agua.str.lower()
agua

AttributeError: 'DataFrame' object has no attribute 'str'

### Agregar la variable latitud y longitud.

### Pasar la variable latitud y longitud a numérica -si no la tomó como numérica-.

### Eliminar la columna geo_point -una vez que creaste la variable latitud y longitud.

### Eliminar la columna geo_shape.

### Cambiar a minúsculas las columnas alcaldía, colonia e indice_des.

### Volver a correr el proceso de identificación de variables numéricas, categóricas, texto y fechas.

### Genera el data profiling por variable (puedes ocupar el paquete pandas-profiling de pandas)

Queremos generar el data profiling de estos datos.

* Volver a correr el proceso de identificación de variables numéricas, categóricas, texto y fechas.
* Genera el data profiling por variable (puedes ocupar el paquete pandas-profiling de pandas)

Queremos generar el data profiling de estos datos.

* ¿Cuántas variables tenemos?
* ¿Cuántas observaciones tenemos?
* ¿Cuántas observaciones únicas tenemos por variable?
* ¿Cuántas variables numéricas tenemos?
* ¿Cuántas variables de fecha tenemos?
* ¿Cuántas variables categóricas tenemos?
* ¿Cuántas variables de texto tenemos?
* Generea el profiling de cada variable
* ¿Qué conocemos ahora de este set de datos por variable?
* ¿Cuántas alcadías tienes? ¿Cuántos nomgeo tienes? ¿Identificas algún error?

* Transformar las variables a formato estándar: minúsculas, sin espacios en blanco, sin signos de puntuación.
* Agregar la variable latitud y longitud.
* Pasar la variable latitud y longitud a numérica -si no la tomó como numérica-.
* Eliminar la columna geo_point -una vez que creaste la variable latitud y longitud.
* Eliminar la columna geo_shape.
* Cambiar a minúsculas las columnas alcaldía, colonia e indice_des.
* Volver a correr el proceso de identificación de variables numéricas, categóricas, texto y fechas.
* Genera el data profiling por variable (puedes ocupar el paquete pandas-profiling de pandas)